<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description_for(current_page) %>">

    <meta name="msapplication-config" content="/microsoft-tile.xml" />
    <meta name="theme-color" content="#ffffff">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= File.join(base_url, current_page.url) %>" />
    <meta property="og:title" content="<%= title_for(current_page) %>" />
    <meta property="og:site_name" content="Terraform-provider-junos"/>
    <meta property="og:description" content="<%= description_for(current_page) %>" />

    <title><%= title_for(current_page) %></title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://use.typekit.net/wxf7mfi.css">
    <%= stylesheet_link_tag "application" %>

    <!-- Site scripts -->
    <!--[if lt IE 9]><%= javascript_include_tag "ie-compat", defer: true %><![endif]-->
    <%= javascript_include_tag "application", defer: true %>
    <%= javascript_include_tag "terraform-overview/home-hero", defer: true %>

    <%= yield_content :head %>
  </head>

  <body id="<%= body_id_for(current_page) %>" class="<%= body_classes_for(current_page) %>">

    <%= yield %>

  </body>
</html>
